{
    "branches": [
        "main"
    ],
    "plugins": [
        [
            "@semantic-release/commit-analyzer",
            {
                "preset": "conventionalcommits"
            }
        ],
        [
            "@semantic-release/release-notes-generator",
            {
                "preset": "conventionalcommits",
                "writerOpts": {
                    "headerPartial": "---------------------------------------------------------------------------------------------------\nVersion: {{version}}\nDate: {{#if date}}{{date}}{{else}}????{{/if}}\n",
                    "footerPartial": "",
                    "commitPartial": "{{#if scope}}[{{scope}}] {{/if}}{{~subject}}",
                    "mainTemplate": "{{> header}}\n{{#each commitGroups}}\n  {{title}}:\n{{#each commits}}\n    - {{> commit root=@root}}\n{{/each}}\n{{/each}}"
                }
            }
        ],
        "semantic-release-factorio",
        [
            "@semantic-release/github",
            {
                "assets": [
                    {
                        "path": "*_*.*.*.zip",
                        "label": "Packaged Mod"
                    }
                ]
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "changelog.txt",
                    "info.json"
                ]
            }
        ]
    ]
}